.login-page
  .form
    Sign in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "e-mail"
      = f.password_field :password, autocomplete: "current-password", placeholder: "password"
      .actions
        = f.button "Log in"
      %p.message
        Not registered?
        %a{:href => new_user_registration_path} Create an account
