// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book {
  padding: 0 !important;
  margin: 15px;
}

.books-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title-text {
  font-size: 30px;
  font-family: 'Calistoga', cursive;
}

.title-text-2 {
  font-size: 24px;
  font-family: 'Calistoga', cursive;
}

.about {
  font-family: 'Roboto', sans-serif;
  display: flex;
}
.cover {
  width: 300px;
  margin: 10px 20px;
}

.cover>img {
  width: 100%;
}

.wrapper-desc {
  margin: 10px 0;
}

.text-desc {
  text-indent: 20px;
  text-align: justify;
}

.available:hover {
  cursor: not-allowed;
}

.func-buttons {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  align-items: center;
}
