// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book {
  padding: 0 !important;
  margin: 15px;
}

.book-header {
  display: flex;
  justify-content: space-between;
}

.books-index-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title-text {
  font-size: 30px;
  font-family: 'Calistoga', cursive;
}

.title-text-2 {
  font-size: 24px;
  font-family: 'Calistoga', cursive;
}

.about {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-wraper {
  //margin: auto;
}

.cover {
  min-width: 280px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.cover>img {
  margin: auto;
  width: 260px;
}

.wrapper-desc {
  margin: 10px 0;
}

#take-return.btn {
  width: 100%;
  margin-top: 1rem;
}

.text-desc {
  padding: 10px;
  text-indent: 20px;
  text-align: justify;
  word-wrap: break-word;
  width: 60%;
}

.available {
  min-width: 200px;
}

.available:hover {
  cursor: not-allowed;
}

.func-buttons {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  align-items: center;
}

.pagination_block {
  display: flex;
  justify-content: center;
}

.pagination>span {
  padding: 5px;
}

.func-links {
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
}

.func-links>a {
  padding: 5px;
}

.like-logic {
  display: flex;
  min-width: 15%;
  justify-content: space-around;
  align-items: center;
}

.likes-counter {
  font-size: 20px;
  font-family: 'Calistoga', cursive;
  padding-right: 5px;
}

.new-book {
  border: 4px solid;
  border-radius: 50px;
}

.new-book, .back {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.new-book-form {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  //width: 70%;
}

.form-placeholder {
  text-align: center;
}

.custom-file {
  text-align: center;
}

#new-book {
  width: 70%;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.actions * {
  margin: 10px 0;
  width: 180px;
}

.main-container > h1 {
  text-align: center;
  font-family: 'Calistoga', cursive;
}

@media (max-width: 1280px) {
  .text-desc {
    width: 100% ;
  }

  .about {
    flex-direction: column;
    justify-content: center;
  }

  #take-return.btn {
    width: 260px;
  }

  .take-return {
    margin: auto;
  }
}

@media (max-width: 1024px) {
  .book-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .actions {
    flex-direction: column;
    align-items: center;
  }

  .actions * {
    margin: 10px 0;
  }
}
