// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-area {
  display: flex;
}

.comments-form {
  min-width: 270px;
  padding-left: 10px;
}

.new_comment {
  min-width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.comments-show {
  min-width: 60%;
  padding: 10px;
}

.control-label {
  font-size: 20px;
  font-family: 'Calistoga', cursive;
}

.text-comment {
  padding-left: 10%;
  text-align: justify;
}
