// Place all the styles related to the Historys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.histories-area {
  margin-top: 20px;
}

.history-title {
  font-size: 30px;
  font-family: 'Calistoga', cursive;
}

@media (max-width: 1280px) {
  .history-title {
    text-align: center;
  }
  .table {
    width: 80%;
    text-align: center;
    margin: auto;
  }
}
