#header
  .header-container
    %a.navbar-brand{:href => root_path}
      = image_tag "logo.png", title: "We are FACEit", :class => "swing"
    %nav.navbar.navbar-light
      %form.form-inline
        %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
        %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search
