#wrapper-header{:style => "width: 100%; opacity: 1;"}
  #main-header.object
    .logo
      %img{:alt => "logo platz", :height => "38", :src => "logo-burst.png", :width => "90"}/
    #main_tip_search
      %form
        %input#tip_search_input{:autocomplete => "off", :list => "search", :name => "search", :required => "", :type => "text"}/
    #stripes
